{% extends "base.html" %}
{% load static %}
{% block title %}
home
{% endblock %}


{% block body %}

{% include "navbar.html" %}
{% include "sidebar.html" %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-laptop"></i>New Quest</li>
                </ol>
            </div>
        </div>
        <img src="../static/img/quest_book.jpg">
        <div class="row">
            <div class="col-lg-12">
                <!--Project Activity start-->
                <section class="panel">
                    <div class="panel-body progress-panel">
                        <div class="row">
                            <div class="col-lg-8 task-progress pull-left">
                                <h1>퀘스트가 도착하였습니다!</h1>
                            </div>
                            <div class="col-lg-4">
                    <span class="profile-ava pull-right">
                                        {{user_id}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                        <tr>
                            <td>Today</td>
                            <td>
                                제로월드 신규테마 업로드!
                            </td>
                            <td>
                                <span class="badge bg-important">Upload</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>Yesterday</td>
                            <td>
                                포인트나인 1호점 주인 없는 낡은 서점
                            </td>
                            <td>
                                <span class="badge bg-success">Task</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>21-05-14</td>
                            <td>
                                비트포비아 강남던전 대호시장 살인사건 의뢰
                            </td>
                            <td>
                                <span class="badge bg-success">Task</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>21-05-15</td>
                            <td>
                                홍대 던전 101 MAYDAY 구조 요청
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>21-05-16</td>
                            <td>
                                부천 이탈리안잡 잡입계획 설계
                            </td>
                            <td>
                                <span class="badge bg-info">Milestone</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>21-05-18</td>
                            <td>
                                셜록홈즈 잠실점 단잠
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>Last week</td>
                            <td>
                                홍대 코드케이 코레아우라
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>last month</td>
                            <td>
                                홍대 던전 101 MST 엔터테이먼트 사건 취재
                            </td>
                            <td>
                                <span class="badge bg-success">To-Do</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Activity end-->
            </div>
        </div>
    </section>
</section>

{% endblock %}

