{% load static %}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a class="" href="/board">
                    <i class="icon_house_alt"></i>
                    <span>퀘스트 하우스</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_table"></i>
                    <span>퀘스트 북</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{% url 'board:review_list' %}">해결한 퀘스트 목록</a></li>
                    <li><a class="" href="{% url 'board:b_item_list' %}">방탈출 랭킹 보기</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
