{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}


{% endblock %}

{% block body %}

{% include "navbar.html" %}
{% include "sidebar.html" %}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i> 해결한 퀘스트 기록</h3>
                <h4 style="color: #000088">현재까지 탈출한 방 수 : {{rv_len}}</h4>
                <br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th>클리어 날짜</th>
                                    <th>지역</th>
                                    <th>방탈출 카페</th>
                                    <th>테마</th>
                                    <th>참가인원</th>
                                    <th>탈출 여부</th>
                                    <th>남은 시간</th>
                                    <th>별점</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr bgcolor="#F7F7F7">
                                    <td>
                                        <input type="text" class="form-control" id="visited_day">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="region">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="cafe_name">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="theme_name">
                                    </td>
                                    <td>
                                        <select class="participant_num" style="width:100%;padding:3px;" id="participant_num">
                                            <option value=1> 1</option>
                                            <option value=2> 2</option>
                                            <option value=3> 3</option>
                                            <option value=4> 4</option>
                                            <option value=5> 5</option>
                                            <option value=6> 6</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="escape_flag" style="width:100%;padding:3px;" id="escape_flag">
                                            <option value="O"> O</option>
                                            <option value="X"> X</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="r_time">
                                    </td>
                                    <td>
                                        <select class="star_num" style="width:100%;padding:3px;" id="star_num">
                                            <option value="★"> ★</option>
                                            <option value="★★"> ★★</option>
                                            <option value="★★★"> ★★★</option>
                                            <option value="★★★★"> ★★★★</option>
                                            <option value="★★★★★"> ★★★★★</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button onclick="insert_element();" class="btn btn-default btn-sm">저장</button>
                                    </td>
                                </tr>

                                {% if rsCo %}
                                {% for i in rsCo %}
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="visited_day{{ i.id }}" value="{{ i.visited_day }}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="region{{ i.id }}" value="{{ i.region }}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="cafe_name{{ i.id }}" value="{{ i.cafe_name }}"/>
                                    </td>
                                    <td width="15%">
                                        <input type="text" class="form-control" id="theme_name{{ i.id }}" value="{{ i.theme_name }}"/>
                                    </td>
                                    <td>
                                        <select class="participant_num{{ i.id }}" style="width:100%;padding:3px;">
                                            {% for k in range %}
                                            {% if i.participant_num == k %}
                                            <option value="{{ k }}" selected> {{ k }} </option>
                                            {% else %}
                                            <option value="{{ k }}"> {{ k }} </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="escape_flag{{ i.id }}" style="width:100%;padding:3px;">
                                            {% for k in p_num %}
                                            {% if i.escape_flag == k %}
                                            <option value="{{ k }}" selected> {{ k }} </option>
                                            {% else %}
                                            <option value="{{ k }}"> {{ k }} </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="r_time{{ i.id }}" value="{{ i.r_time }}"/>
                                    </td>
                                    <td>
                                        <select class="star_num{{ i.id }}" style="width:100%;padding:3px;">
                                            {% for k in star_num %}
                                            {% if i.star_num == k %}
                                            <option value="{{ k }}" selected> {{ k }} </option>
                                            {% else %}
                                            <option value="{{ k }}"> {{ k }} </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                     <td width="5%">
                                        <button class="btn btn-default btn-sm" id="review_{{i.id}}" name="{{i.id}}" onclick="review_detail(this)">리뷰 보기</button>
                                    </td>
                                    <td width="5%">
                                        <button class="btn btn-default btn-sm" id="update_{{i.id}}" name="{{i.id}}" onclick="update_element(this);">수정</button>
                                    </td>
                                    <td width="5%">
                                        <button class="btn btn-default btn-sm" id="delete_{{i.id}}" name="{{i.id}}" onclick="delete_element(this);">삭제</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>
                                     <span>내용이 없습니다.</span>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>

                    </div>
                </section>
            </div>
        </div>

        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');
            var xhr;

            function insert_element() {
                var vd = document.getElementById("visited_day").value;
                var reg = document.getElementById("region").value;
                var cafeNm = document.getElementById("cafe_name").value;
                var themeNm = document.getElementById("theme_name").value;
                var rt = document.getElementById("r_time").value;


                if(vd == '') {
                    alert('클리어 날짜를 입력해주십시오.');
                    document.getElementById("visited_day").focus();
                    return false;
                }

                if(reg == '') {
                    alert('지역을 입력해주십시오.');
                    document.getElementById("region").focus();
                    return false;
                }

                if(cafeNm == '') {
                    alert('방탈출 카페명을 입력해주십시오.');
                    document.getElementById("cafe_name").focus();
                    return false;
                }

                if(themeNm == '') {
                    alert('테마명를 입력해주십시오.');
                    document.getElementById("theme_name").focus();
                    return false;
                }

                var pnSelect = document.querySelector('.participant_num');
                var pnId = pnSelect.options[pnSelect.selectedIndex].value;

                var efSelect = document.querySelector('.escape_flag');
                var efId = efSelect.options[efSelect.selectedIndex].value;

                var snSelect = document.querySelector('.star_num');
                var snId = snSelect.options[snSelect.selectedIndex].value;

                var payload = {
                    "visited_day": vd,
                    "region": reg,
                    "cafe_name": cafeNm,
                    "theme_name": themeNm,
                    "participant_num": pnId,
                    "escape_flag": efId,
                    "r_time": rt,
                    "star_num": snId
                };

                xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        if(xhr.status==201)
                            alert("등록이 완료되었습니다.");
                        location.reload();
                    }
                    else {
                        if(xhr.status==400) {
                            var data = xhr.responseText;
                            var obj = JSON.parse(data);

                            if (obj.detail == "DuplicateCode") {
                                alert("코드가 이미 존재합니다.");
                            }
                            else {
                                alert("400 Bad Request");
                            }
                        }
                    }
                };

                var strurl = "http://223.194.46.212:8759/rest_api/reviews";
                xhr.open("POST", strurl, true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(payload));
            }

            function update_element(elem) {
                var rowId = elem.getAttribute('name');

                var pnSelect = document.querySelector('.participant_num' + rowId);
                var pnId = pnSelect.options[pnSelect.selectedIndex].value;

                var efSelect = document.querySelector('.escape_flag' + rowId);
                var efId = efSelect.options[efSelect.selectedIndex].value;

                var snSelect = document.querySelector('.star_num' + rowId);
                var snId = snSelect.options[snSelect.selectedIndex].value;

                var vd = document.getElementById("visited_day" + rowId).value;
                var reg = document.getElementById("region" + rowId).value;
                var cafeNm = document.getElementById("cafe_name" + rowId).value;
                var themeNm = document.getElementById("theme_name" + rowId).value;
                var rt = document.getElementById("r_time" + rowId).value;

                var payload = {
                    "visited_day": vd,
                    "region": reg,
                    "cafe_name": cafeNm,
                    "theme_name": themeNm,
                    "participant_num": pnId,
                    "escape_flag": efId,
                    "r_time": rt,
                    "star_num": snId
                };

                xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        if(xhr.status==200)
                            alert("수정이 완료되었습니다.");
                        location.reload();
                    }
                    else {
                        if(xhr.status==400) {
                            var data = xhr.responseText;
                            var obj = JSON.parse(data);

                            if (obj.detail == "") {//추후 에러처리 추가시 사용
                                alert("에러코드");
                            }
                            else {
                                alert("400 Bad Request");
                            }
                        }
                    }
                };

                var strurl = "http://223.194.46.212:8759/rest_api/reviews/" + rowId;
                xhr.open("PUT", strurl, true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(payload));
            }

            function delete_element(elem) {
                var rowId = elem.getAttribute('name');

                xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        if(xhr.status==204)
                            alert("삭제가 완료되었습니다.");
                        location.reload();
                    }
                    else {
                        if(xhr.status==400) {
                            var data = xhr.responseText;
                            var obj = JSON.parse(data);

                            if (obj.detail == "") {//추후 에러처리 추가시 사용
                                alert("에러코드");
                            }
                            else {
                                alert("400 Bad Request");
                            }
                        }
                    }
                };

                var strurl = "http://223.194.46.212:8759/rest_api/reviews/" + rowId;
                xhr.open("DELETE", strurl, true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(null);
            }

            function review_detail(elem) {
                var rowId = elem.getAttribute('name');
                var strurl = "http://127.0.0.1:8000/board/reviews/" + rowId;
                location.href = strurl;
            }
        </script>
    </section>
    <!--main content end-->
</section>
<!-- container section start -->
{% endblock %}
